/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #0f8284,
  secondary: #20d8da,
  accent: #c31707
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-family-base: overpass, arial, sans-serif;
$font-weight-base: 300;

$headings-font-family: chivo, arial, sans-serif;
$headings-font-weight: 900;

$body-bg: #fdfdfd;
$body-color: #070434;

$link-hover-color: theme-color("primary");

$border-radius: 0.8rem;
$border-radius-sm: 0.7rem;
$border-radius-lg: 1rem;
